/* Webfont: Burford-ExtrudeBSolo */@font-face {
    font-family: 'BurfordExtrudeBSolo';
    src: url('Burford-ExtrudeBSolo.eot'); /* IE9 Compat Modes */
    src: url('Burford-ExtrudeBSolo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Burford-ExtrudeBSolo.woff') format('woff'), /* Modern Browsers */
         url('Burford-ExtrudeBSolo.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Burford-ExtrudeBSolo.svg#Burford-ExtrudeBSolo') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

