/* Webfont: Burford-ExtrasSetA */@font-face {
    font-family: 'BurfordExtrasSetA';
    src: url('Burford-ExtrasSetA.eot'); /* IE9 Compat Modes */
    src: url('Burford-ExtrasSetA.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Burford-ExtrasSetA.woff') format('woff'), /* Modern Browsers */
         url('Burford-ExtrasSetA.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Burford-ExtrasSetA.svg#Burford-ExtrasSetA') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

