/* Webfont: Burford-ExtrasSetB */@font-face {
    font-family: 'BurfordExtrasSetB';
    src: url('Burford-ExtrasSetB.eot'); /* IE9 Compat Modes */
    src: url('Burford-ExtrasSetB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Burford-ExtrasSetB.woff') format('woff'), /* Modern Browsers */
         url('Burford-ExtrasSetB.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Burford-ExtrasSetB.svg#Burford-ExtrasSetB') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

