/* Webfont: Burford-ExtrudeB */@font-face {
    font-family: 'BurfordExtrudeB';
    src: url('Burford-ExtrudeB.eot'); /* IE9 Compat Modes */
    src: url('Burford-ExtrudeB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Burford-ExtrudeB.woff') format('woff'), /* Modern Browsers */
         url('Burford-ExtrudeB.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Burford-ExtrudeB.svg#Burford-ExtrudeB') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

