/* Webfont: BurfordInline */@font-face {
    font-family: 'BurfordInline';
    src: url('BurfordInline.eot'); /* IE9 Compat Modes */
    src: url('BurfordInline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BurfordInline.woff') format('woff'), /* Modern Browsers */
         url('BurfordInline.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BurfordInline.svg#BurfordInline') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

