/* Webfont: Burford-Line */@font-face {
    font-family: 'BurfordLine';
    src: url('Burford-Line.eot'); /* IE9 Compat Modes */
    src: url('Burford-Line.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Burford-Line.woff') format('woff'), /* Modern Browsers */
         url('Burford-Line.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Burford-Line.svg#Burford-Line') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

