/* Webfont: Burford-ExtrudeA */@font-face {
    font-family: 'BurfordExtrudeA';
    src: url('Burford-ExtrudeA.eot'); /* IE9 Compat Modes */
    src: url('Burford-ExtrudeA.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Burford-ExtrudeA.woff') format('woff'), /* Modern Browsers */
         url('Burford-ExtrudeA.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Burford-ExtrudeA.svg#Burford-ExtrudeA') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

