/* Webfont: BurfordDots */@font-face {
    font-family: 'BurfordDots';
    src: url('BurfordDots.eot'); /* IE9 Compat Modes */
    src: url('BurfordDots.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BurfordDots.woff') format('woff'), /* Modern Browsers */
         url('BurfordDots.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BurfordDots.svg#BurfordDots') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

