
@font-face {
	font-family: 'avenir';
	src: font-url('Avenir-LT-65-Medium.ttf');
}

@font-face {
	font-family: 'bebas';
	src: font-url('bebas/bebas-neue-regular.otf');
}

@font-face {
	font-family: 'karla';
	src: font-url('karla/Karla-Regular.ttf');
}

@font-face {
	font-family: 'matchmaker';
	src: font-url('MATCHMAKER/Matchmaker-Regular.ttf');
}

@font-face {
	font-family: 'matchmaker-swash';
	src: font-url('MATCHMAKER/MatchmakerSwashes-Regular.ttf');
}

@font-face {
	font-family: 'mensch';
	src: font-url('Mensch/mensch.ttf');
}

@font-face {
	font-family: 'merriweather';
	src: font-url('merriweather/Merriweather-Regular.otf');
}

@font-face {
	font-family: 'merriweather-sans';
	src: font-url('merriweather-sans/MerriweatherSans-Regular.otf');
}

@font-face {
	font-family: 'mojave';
	src: font-url('Mohave/Mohave.otf');
}

@font-face {
	font-family: 'proxima-nova';
	src: font-url('proxima-nova-regular.otf');
}

// Variables

//$light-black: #242021;
$light-black: #423a33;
//$gold: #d5af2f;
$gold: #e69c39;
$gray: #a4a4a4;
$light-gray: #f5f5f5;


// Content

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	position: relative;
	height: 100%;
}

#main-content {
	position: relative;
	width: 960px;
	min-height: 400px;
	padding: 35px 0;
	padding-bottom: 60px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.header {
	margin: 120px 0 40px 0;
	position: relative;

	h1 {
		text-align: center;
		position: relative;
		font-family: matchmaker;
		font-size: 2em;
		color: $light-black;
	}
}

#header-content {
	width: 30%;
	min-width: 740px;
	margin: 0 auto;
}

#logo {
	position: relative;
	text-align: center;
	margin: 0 auto 20px auto;
	width: 27%;
}

h1 {
	text-align: center;
	font-size: 2.5em;
	color: $light-black;
}

.swash {
	font-family: matchmaker-swash;
}

#main-nav {
	
	min-width: 740px;
	border-bottom: solid 1px #c7c7c7;

	ul {
		list-style: none;
		width: 100%;
		text-align: center;
		text-decoration: none;
		margin-bottom: 30px;

		li {
			margin: 0 2%;
			display: inline-block;
			font-family: raleway;
			font-size: 1em;

			a, a:visited {
				//color: #b2b2b2;
				color: $gray;
				text-decoration: none;
				transition: color .2s;
			}

			a:hover {
				color: $gold;
			}
		}

		li.selected {
			a {
				color: $gold;
			}
		}
	}
}


.large-img-container {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 0 0 100px 0;
}

.med-img-container {
	position: relative;
	width: 60%;
	margin: 0 auto 50px auto;
}


.centered-text {
	color: $light-black;
	margin: 80px auto 0 auto;
	width: 50%;

	h2 {
		font-family: raleway;
		text-align: center;
		margin-bottom: 30px;
	}

	p {
		font-family: avenir;
		text-align: justify;
		font-size: .9em;
		margin: 0 auto 20px auto;
		line-height: 1.3;
	}
}




.placeholder {
	position: relative;
	font-family: raleway;
	margin-top: 100px;
	color: $light-black;
}

footer {
	position: absolute;
	width: 100%;
	height: 60px;
	background-color: $light-gray;
	padding: 30px 0;
	margin-top: 50px;
	font-size: 14px;
	font-family: raleway;
	color: $gray;
	text-align: right;

	#footer-links {
		margin: 20px 250px 0 0;

		a, a:visited {
			color: $gray;
			transition: all .4s;
		}

		a:hover {
			color: $light-black;
		}
	}

}
