
// Variables

$light-black: #242021;
//$gold: #d5af2f;
$gold: #e69c39;
$gray: #a4a4a4;


// Content

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.header {
	margin: 140px 0 40px 0;

	h1 {
		text-align: center;
		font-family: matchmaker;
		font-size: 2em;
		color: $light-black;
	}
}

#logo {
	margin: 0 auto 50px auto;
	width: 104px;
}

h1 {
	text-align: center;
	font-size: 2.5em;
	color: $light-black;
}

.swash {
	font-family: matchmaker-swash;
}

#main-nav {

	margin-bottom: 30px;
	border-bottom: solid 1px #c7c7c7;

	ul {
		list-style: none;
		width: 100%;
		text-align: center;
		text-decoration: none;
		margin-bottom: 30px;

		li {
			margin: 0 3%;
			display: inline-block;
			font-family: raleway;
			font-size: 1em;

			a, a:visited {
				//color: #b2b2b2;
				color: $gold;
				text-decoration: none;
				transition: color .2s;
			}

			a:hover {
				color: $gray;
			}
		}

		li.selected {
			a {
				color: $light-black;
			}
		}
	}
}


.large-img-container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin: 50px 0 100px 0;
}

