
// Variables

$light-black: #242021;
$gold: #d5af2f;



// Content

* {
	margin: 0;
	padding: 0;
}


.header {
	margin: 140px 0 40px 0;

	h1 {
		text-align: center;
		font-family: matchmaker;
		font-size: 2em;
		color: $light-black;
	}
}

#logo {
	margin: 0 auto 50px auto;
	width: 104px;
}

h1 {
	text-align: center;
	font-size: 2.5em;
	color: $light-black;
}

.swash {
	font-family: matchmaker-swash;
}

#main-nav {

	margin-bottom: 30px;
	//border-bottom: solid 1px $gold;

	ul {
		list-style: none;
		width: 100%;
		text-align: center;
		text-decoration: none;
		margin-bottom: 20px;

		li {
			margin: 0 3%;
			display: inline-block;
			font-family: raleway;
			font-size: 1em;

			a, a:visited {
				color: #b2b2b2;
				text-decoration: none;
				transition: color .2s;
			}

			a:hover {
				color: $light-black;
			}
		}

		li.selected {
			a {
				color: $light-black;
			}
		}
	}
}

