
@font-face {
	font-family: 'mojave';
	src: font-url('Mohave/Mohave.otf');
}

@font-face {
	font-family: 'matchmaker';
	src: font-url('MATCHMAKER/Matchmaker-Regular.ttf');
}

@font-face {
	font-family: 'matchmaker-swash';
	src: font-url('MATCHMAKER/MatchmakerSwashes-Regular.ttf');
}

@font-face {
	font-family: 'raleway';
	src: font-url('raleway/Raleway-Regular.ttf');
}
