/* Webfont: Burford-ExtrudeC */@font-face {
    font-family: 'BurfordExtrudeC';
    src: url('Burford-ExtrudeC.eot'); /* IE9 Compat Modes */
    src: url('Burford-ExtrudeC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Burford-ExtrudeC.woff') format('woff'), /* Modern Browsers */
         url('Burford-ExtrudeC.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Burford-ExtrudeC.svg#Burford-ExtrudeC') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

